# ignore .DS_Store
.DS_Store

# ignore notes
notes

# ignore HomeCreditDefaultRisk/data
HomeCreditDefaultRisk/data

# ignore HomeCreditDefaultRisk/application_test.html
HomeCreditDefaultRisk/application_test.html